{{#if nav}}
	<nav>
		<ul>
			<li><a href="/home">Home</a></li>
			<li><a href="/addnameform">Add Name</a></li>
			<li><a href="/updatedeletelist">Update/Delete Name</a></li>
			<li><a href="/logout">Logout</a></li>
		</ul>
	</nav>
{{/if}}