<main>
	<h2>Welcome to the add name page.</h2>
	<p>Enter a name to add</p>
    <p id="msg"></p>
    <div class="form-group">
        <label for="firstname">First Name:</label>
        <input type="text" class="form-control" id="firstname" placeholder="First Name">
    </div>
    <div class="form-group">
        <label for="lastname">Last Name:</label>
        <input type="text" class="form-control" id="lastname" placeholder="Last Name">
    </div>
    <div class="form-group">
        <input type="button" class="btn btn-primary" id="addNameBtn" value="Add Name">
    </div>
	
</main>